<!DOCTYPE html>
<!--
@文件：login.html
@说明：
@时间：2019/12/28 14:56:00
@作者：MrShiSan
@版本：1.0
-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>登陆案例</title>
    </head>
    <body>
        <form method="post" action="/login_check/">
            用户名：<input type="text" name="username"/><br/>
            密码：<input type="password" name="password"/><br/>
            <input type="submit" value="提交"/>
        </form>
    </body>
</html>