<!DOCTYPE html>
<!--
@文件：query.html
@说明：
@时间：2020/01/02 23:44:43
@作者：MrShiSan
@版本：1.0
-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>全文检索</title>
    </head>
    <body>
        <form method="get" action="/search/" target="_blank">
            <input type="text" name="q">
            <br>
            <input type="submit" value="查询">
        </form>
    </body>
</html>