<!DOCTYPE html>
<!--
@文件：temp_inherit.html
@说明：子模版继承父模板
@时间：2019/12/28 12:50:27
@作者：MrShiSan
@版本：1.0
-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Title</title>
    </head>
    <body>
        <!-- 父模板路径 -->
        {%extends 'inherit_base.html'%}
        {%block qu2%}
        <ul>
            {%for book in list%}
            <li>{{book.btitle}}</li>
            {%endfor%}
        </ul>
        {%endblock qu2%}
    </body>
</html>